metadata_print.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.faustedition.net/ns"
    xmlns:tei="http://www.tei-c.org/ns/1.0" targetNamespace="http://www.faustedition.net/ns"
    elementFormDefault="qualified">

    <xs:import namespace="http://www.w3.org/XML/1998/namespace"
        schemaLocation="http://www.w3.org/2001/03/xml.xsd"/>

    <!-- structure -->

    <xs:element name="print">

        <xs:complexType>
            <xs:sequence>

                <!-- header -->

                <xs:element name="revisionDesc" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="change" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="when" type="xs:date"/>
                                            <xs:attribute name="who" type="xs:string"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>


                <xs:element name="metadata">
                    <xs:complexType>
                        <xs:sequence minOccurs="1" maxOccurs="1">
                            <xs:element ref="note" minOccurs="0" maxOccurs="1"> </xs:element>
                            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                                <xs:choice>
                                    <xs:group ref="documentProperties"/>
                                    <xs:group ref="leafProperties"/>
                                    <xs:group ref="pageProperties"/>
                                </xs:choice>
                            </xs:sequence>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute ref="xml:base"/>
        </xs:complexType>
    </xs:element>

    <!-- document properties -->

    <xs:group name="documentProperties">

        <xs:choice>
            <xs:sequence minOccurs="1">
                <xs:element name="bibl" type="noneString" minOccurs="1"/>
                <xs:element ref="note" minOccurs="0"/>
            </xs:sequence>
            <xs:sequence minOccurs="0">
                <xs:element name="repository" type="repository" minOccurs="1"/>
                <xs:element ref="note" minOccurs="0"/>
            </xs:sequence>

            <xs:sequence minOccurs="0">
                <xs:element name="subRepository" type="noneString" minOccurs="1"/>
                <xs:element ref="note" minOccurs="0"/>
            </xs:sequence>

            <xs:sequence minOccurs="0">
                <xs:element name="collection" type="noneString" minOccurs="1"/>
                <xs:element ref="note" minOccurs="0"/>
            </xs:sequence>

            <xs:sequence minOccurs="0">
                <xs:element name="idno" type="idno" minOccurs="1"/>
                <xs:element ref="note" minOccurs="0"/>
            </xs:sequence>

            <xs:sequence minOccurs="0">
                <xs:element name="subidno" type="idno" minOccurs="1"/>
                <xs:element ref="note" minOccurs="0"/>
            </xs:sequence>

            <xs:sequence minOccurs="1">
                <xs:element name="textTranscript" type="transcript" minOccurs="1"/>
                <xs:element ref="note" minOccurs="0"/>
            </xs:sequence>

            <xs:sequence minOccurs="0">
                <xs:element name="history" type="noneString" minOccurs="1"/>
                <xs:element ref="note" minOccurs="0"/>
            </xs:sequence>

            <xs:sequence minOccurs="0">
                <xs:element name="container" type="noneString" minOccurs="1"/>
                <xs:element ref="note" minOccurs="0"/>
            </xs:sequence>

            <xs:sequence minOccurs="0">
                <xs:element name="binding" type="noneString" minOccurs="1"/>
                <xs:element ref="note" minOccurs="0"/>
            </xs:sequence>

            <xs:sequence minOccurs="0">
                <xs:element name="numberingList" type="numberingList" minOccurs="1"/>
                <xs:element ref="note" minOccurs="0"/>
            </xs:sequence>
            <xs:sequence minOccurs="0">
                <xs:element name="copies" type="copies" minOccurs="1"/>
                <xs:element ref="note" minOccurs="0"/>
            </xs:sequence>
            
            <xs:sequence minOccurs="0">
                <xs:element name="referenceCopy" type="referenceCopy" minOccurs="1"/>
                <xs:element ref="note" minOccurs="0"/>
            </xs:sequence>
        </xs:choice>
    </xs:group>


    <xs:simpleType name="repository">
        <xs:union memberTypes="noneType">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="gsa"/>
                    <xs:enumeration value="fdh_frankfurt"/>
                    <xs:enumeration value="dla_marbach"/>
                    <xs:enumeration value="sb_berlin"/>
                    <xs:enumeration value="ub_leipzig"/>
                    <xs:enumeration value="ub_bonn"/>
                    <xs:enumeration value="veste_coburg"/>
                    <xs:enumeration value="gm_duesseldorf"/>
                    <xs:enumeration value="sa_hannover"/>
                    <xs:enumeration value="thlma_weimar"/>
                    <xs:enumeration value="haab_weimar"></xs:enumeration>
                    <xs:enumeration value="bb_cologny"/>
                    <xs:enumeration value="ub_basel"/>
                    <xs:enumeration value="bj_krakow"/>
                    <xs:enumeration value="agad_warszawa"/>
                    <xs:enumeration value="bb_vicenza"/>
                    <xs:enumeration value="bl_oxford"/>
                    <xs:enumeration value="bl_london"/>
                    <xs:enumeration value="ul_edinburgh"/>
                    <xs:enumeration value="ul_yale"/>
                    <xs:enumeration value="tml_new_york"/>
                    <xs:enumeration value="ul_pennstate"/>
                    <xs:enumeration value="mlm_paris"/>
                    <xs:enumeration value="location_unknown"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>

    <xs:complexType name="idno">
        <xs:simpleContent>
            <xs:extension base="noneString">
                <xs:attribute name="type" use="required">
                    <xs:simpleType>
                        <xs:union memberTypes="noneType">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <!-- WA -->
                                    <xs:enumeration value="wa_aristpoet"/>
                                    <xs:enumeration value="wa_gedichte"/>
                                    <xs:enumeration value="wa_faust"/>
                                    <xs:enumeration value="wa_I_53"/>
                                    <xs:enumeration value="wa_helenaank"/>
                                    <xs:enumeration value="wa_mur"/>
                                    <xs:enumeration value="wa_kua"/>
                                    <xs:enumeration value="wa_div"/>
                                    <xs:enumeration value="wa_tasso"/>
                                    <xs:enumeration value="wa_chines"/>
                                    <xs:enumeration value="wa_wesentrag"/>
                                    <!-- non WA -->
                                    <xs:enumeration value="aa_wilhelmmeister"/>
                                    <xs:enumeration value="aa_duw"/>
                                    <xs:enumeration value="aa_ls_chines"/>
                                    <xs:enumeration value="aa_ls_aristpoet"/>
                                    <xs:enumeration value="aa_ls_helenaank"/>
                                    <xs:enumeration value="aa_ls_kuaschemata"/>
                                    <xs:enumeration value="aa_ls_stoffgeh"/>
                                    <xs:enumeration value="aa_ls_wesentrag"/>
                                    <xs:enumeration value="la_II_2_winderz"/>
                                    <xs:enumeration value="seuffert"></xs:enumeration>
                                    <xs:enumeration value="hagen"></xs:enumeration>
                                    <xs:enumeration value="hagen_nr"></xs:enumeration>
                                    <xs:enumeration value="bohnenkamp"/>
                                    <xs:enumeration value="fa"/>
                                    <xs:enumeration value="faustedition"/>
                                    <xs:enumeration value="fischer_lamberg"/>
                                    <xs:enumeration value="gsa_findbuch"/>
                                    <xs:enumeration value="hecker"/>
                                    <xs:enumeration value="hecker_mur"/>
                                    <xs:enumeration value="kraeuter"/>
                                    <xs:enumeration value="landeck"/>
                                    <xs:enumeration value="ma"/>
                                    <!-- archives -->
                                    <xs:enumeration value="gsa_1"/>
                                    <xs:enumeration value="gsa_2"/>
                                    <xs:enumeration value="fdh_frankfurt"/>
                                    <xs:enumeration value="dla_marbach"/>
                                    <xs:enumeration value="sb_berlin"/>
                                    <xs:enumeration value="ub_leipzig"/>
                                    <xs:enumeration value="ub_bonn"/>
                                    <xs:enumeration value="veste_coburg"/>
                                    <xs:enumeration value="gm_duesseldorf"/>
                                    <xs:enumeration value="sa_hannover"/>
                                    <xs:enumeration value="haab_weimar"></xs:enumeration>
                                    <xs:enumeration value="thlma_weimar"/>
                                    <xs:enumeration value="bb_cologny"/>
                                    <xs:enumeration value="ub_basel"/>
                                    <xs:enumeration value="bj_krakow"/>
                                    <xs:enumeration value="agad_warszawa"/>
                                    <xs:enumeration value="bb_vicenza"/>
                                    <xs:enumeration value="bl_oxford"/>
                                    <xs:enumeration value="bl_london"/>
                                    <xs:enumeration value="ul_edinburgh"/>
                                    <xs:enumeration value="ul_yale"/>
                                    <xs:enumeration value="tml_new_york"/>
                                    <xs:enumeration value="ul_pennstate"/>
                                    <xs:enumeration value="mlm_paris"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:union>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>

    </xs:complexType>

    <xs:complexType name="numberingList">
        <xs:sequence>
            <xs:element name="numbering" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="noneString">
                            <xs:attribute name="name" type="noneString"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="copies">
        <xs:sequence>
            <xs:element name="referenceCopy" type="referenceCopy" minOccurs="1" maxOccurs="1"></xs:element>
            <xs:element name="furtherCopy" type="furtherCopy" minOccurs="0" maxOccurs="unbounded"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="referenceCopy">
        <xs:sequence>
            <xs:element name="repository" type="repository" minOccurs="1" maxOccurs="1"> </xs:element>
            <xs:element name="idno" type="idno" minOccurs="1" maxOccurs="unbounded"> </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="furtherCopy">
        <xs:sequence>
            <xs:element name="repository" type="repository" minOccurs="1" maxOccurs="1"> </xs:element>
            <xs:element name="idno" type="idno" minOccurs="1" maxOccurs="unbounded"> </xs:element>
        </xs:sequence>
    </xs:complexType>
    


    <!-- leaf properties -->

    <xs:group name="leafProperties">
        <xs:choice>

            <xs:sequence minOccurs="0">
                <xs:element name="dimensions" type="dimensionXY" minOccurs="1"/>
                <xs:element ref="note" minOccurs="0"/>
            </xs:sequence>

            <xs:sequence minOccurs="0">
                <xs:element name="bindingMaterial" type="noneString" minOccurs="1"/>
                <xs:element ref="note" minOccurs="0"/>
            </xs:sequence>


            <xs:sequence minOccurs="0">
                <xs:element name="leafCondition" type="noneString" minOccurs="1"/>
                <xs:element ref="note" minOccurs="0"/>
            </xs:sequence>

        </xs:choice>
    </xs:group>



    <xs:element name="note" type="noneString"/>

    <xs:element name="bibl" type="noneString"/>

    <!-- page properties -->

    <xs:group name="pageProperties">
        <xs:choice>
            <xs:sequence minOccurs="0">
                <xs:element name="references" type="references" minOccurs="1"/>
                <xs:element ref="note" minOccurs="0"/>
            </xs:sequence>
        </xs:choice>
    </xs:group>

    <xs:complexType name="references">
        <xs:sequence>
            <xs:element name="reference" type="reference" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element ref="note" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="reference">
        <xs:simpleContent>
            <xs:extension base="xs:string">

                <xs:attribute name="uri" type="xs:anyURI" use="required"/>
                <xs:attribute name="type">
                    <xs:simpleType>
                        <xs:union memberTypes="noneType">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="facsimile"/>
                                    <xs:enumeration value="text"/>
                                    <xs:enumeration value="description"/>
                                    <xs:enumeration value="essay"/>
                                    <xs:enumeration value="watermarkRubbing"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:union>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

<!--    <xs:complexType name="copies">
        <xs:sequence>
            <xs:element name="referenceCopy" type="referenceCopy" minOccurs="1" maxOccurs="1"/>
            <xs:element name="furthercopy" type="furtherCopy" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
-->
<!--    <xs:complexType name="referenceCopy">
        <xs:sequence>
            <xs:element name="repository" type="repository"/>
            <xs:element name="shelfmark" type="idno"/>
        </xs:sequence>
    </xs:complexType>
-->
<!--    <xs:complexType name="furtherCopy">
        <xs:sequence>
            <xs:element name="repository" type="repository"/>
            <xs:element name="shelfmark" type="idno"/>
        </xs:sequence>
    </xs:complexType>
-->


    <!-- docTranscript -->


    <xs:complexType name="transcript">
        <xs:attribute name="uri">
            <xs:simpleType>
                <xs:union memberTypes="xs:anyURI">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="missing"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:union>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>


    <!-- types -->

    <xs:complexType name="dimensionXY">
        <xs:sequence>
            <xs:element name="width" type="dimension"/>
            <xs:element name="height" type="dimension"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="dimension">
        <xs:simpleContent>
            <xs:extension base="noneDecimal">
                <xs:attribute name="unit" use="required">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="mm"/>
                            <xs:enumeration value="leaves"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>


    <xs:simpleType name="noneInteger">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:integer"/>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="noneType"/>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>

    <xs:simpleType name="noneDecimal">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:decimal"/>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="noneType"/>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>


    <xs:simpleType name="noneString">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="noneType"/>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>

    <xs:simpleType name="noneURI">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:anyURI">
                    <xs:minLength value="1"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="noneType"/>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>

    <xs:simpleType name="noneType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="n.s."/>
            <xs:enumeration value="none"/>
            <!-- <xs:enumeration value="w.o."/>
            <xs:enumeration value="s.u."/> -->
        </xs:restriction>
    </xs:simpleType>


</xs:schema>
